extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)

  .container.my-3
    .row
      .col-12
        +box-head("Đặt hàng")


    .row
      .col-12
        table(class="table table-bordered")
          thead
            tr
              th STT
              th Ảnh
              th Tên
              th Gia
              th Số lượng
              th Tổng Tiền



          tbody
            if(cartDetail.products.length>0)
              each item, index in cartDetail.products
                tr
                  td #{index+1}
                  td
                    img(src=item.productInfo.thumbnail, alt=item.productInfo.title width= "80px")
                  td
                    a(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}
                  td #{item.productInfo.priceNew}$
                  td #{item.quantity}
                  td #{item.totalPrice}$

            else
              tr
                td(
                  colspan="7"
                  class="text-center"
                ) Giỏ hàng trống
        if(cartDetail.products.length>0)
          h3(class="text-right") Tổng đơn giá:#{cartDetail.totalPrice}

        //- div(class="text-right mt-3")
        //-   a(href="/checkout" class="btn btn-success") Thanh Toán
    if(cartDetail.products.length>0)
      .row
        .col-12
          .card.p-4.my-4
            form(
              action="/checkout/order"
              method="POST"
            )
              div(class="form-group")
                label(for="fullName") Họ tên
                input(
                  type="text"
                  class="form-control"
                  name="fullName"
                  require
                )

              div(class="form-group")
                label(for="phone") Phone
                input(
                  type="text"
                  class="form-control"
                  name="phone"
                  require
                )

              div(class="form-group")
                label(for="address") Dia chi
                input(
                  type="text"
                  class="form-control"
                  name="address"
                  require
                )

  script(src="/js/cart.js")