extends ../../layouts/default.pug
block main
  h1(class="mb-4") Chỉnh sửa Quyền Mới




  form(
    action=`${prefixAdmin}/roles/edit/${data.id}?_method=PATCH`
    method="POST"
    ) 

      div(class="form-group")
        label(for="title") Tên Nhóm Quyền
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          value= data.title
        )

      div(class="form-group mt-3")
        label(for="desc") Mô Tả Nhóm Quyền 
        input(
          type="text"
          class="form-control"
          id="desc"
          name="description"
          value= data.description
        )

      div(class="form-group mt-4")
        button(type="submit" class="btn btn-primary") cập nhật













