extends ../../layouts/default.pug
block main
  h1(class="mb-4") Thêm mới tài khoản

  form(
    action = `${prefixAdmin}/accounts/create`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      labe(for="fullname") Họ Tên *
      input(
        type="text"
        class="form-control"
        id = "fullname"
        name="fullname"
        required
      )
    div(class="form-group")
      label(for="email") Email *
      input(
        type="text"
        class="form-control"
        id = "email"
        name="email"
        required
      )


    div(class="form-group")
      labell(for="password") Mật khẩu *
      input(
        type="password"
        class="form-control"
        id = "password"
        name="password"
        required
      )

    div(class="form-group")
      label(for="phone") Số điện thoại *
      input(
        type="number"
        class="form-control"
        id = "phone"
        name="phone"
        required
      )

      div(
        class="form-group"
        uploade-image
        )
        label(for="avatar") Avatar 
        input(
          type="file"
          class="form-control-file"
          id = "avatar"
          name="avatar"
          accept="image/*"
          upload-image-input
        )
        img(
          src=""
          class="image-preview mt-2"
          upload-image-preview
        )


    div(class="form-group")
      label(for="rode_id") Phân quyền
      select(name="role_id" id="role_id" class="form-control")
        option(disabled) -- chọn quyền --


    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="stauts"
        value="active"
      )
      label(for="statusActive" class="form-checki-label") Hoạt động


    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInactive"
        name="status"
        value="inactive"
      )
      label(for="statusInactive" class="form-checki-label") Không hoạt động