mixin product-layout(productsFeatured)
  .select-products-featured.my-5
    .container.my-3
      .row
        .col-12
          +box-head('Danh sách sản phẩm')
      .row
        each item in productsFeatured
          .col-4.mb-3
            .product-item
              a(href=`/products/${item.slug}`)
                .inner-image
                  img(
                    src=item.thumbnail
                    alt=item.title)
                .inner-content
                  h3.inner-title #{item.title}
                  .inner-price-new #{item.newPrice.toFixed(2)}$
                  .inner-price-old #{item.price}$
                  .inner-discount #{item.discountPercentage}%