.sider 
  .inner-menu
    ul
      li
        a(href=`${prefixAdmin}/dashboard`) Tổng quan
      li 
        a(href=`${prefixAdmin}/products`) Danh Sách
      li 
        a(href=`${prefixAdmin}/products-category`) Danh Mục
      li 
        a(href=`${prefixAdmin}/roles`) Nhóm Quyền
      li 
        a(href=`${prefixAdmin}/roles/permissions`) Phân Quyền